<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% items.forEach((item) => { %>
      <tr>
        <td><%= item.item %></td>
        <td><%= item.brand %></td>
        <td><%= item.category %></td>
        <td>&dollar;<%= item.price %></td>
        <td>
          <button class="btn btn-icon btn-table">
            <a href="/<%= item.id %>/update/">
              <img src="/icon/editIcon.svg" alt="Edit" />
            </a>
          </button>
        </td>
        <td>
          <form action="/<%= item.id %>/delete" method="post">
            <button
              type="submit"
              onclick="confirm('Are you sure want to delete this item?')"
              class="btn btn-icon btn-table"
            >
              <img src="/icon/deleteIcon.svg" alt="Delete" />
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
