<html>
  <head>
    <title>Add new item</title>
    <link rel="stylesheet" href="/styles/form.css" />
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <h1>Add new item</h1>

      <form action="/new" method="post">
        <div>
          <label for="item">Item Name</label>
          <input type="text" name="item" id="item" />
        </div>

        <div>
          <label for="brand">Brand Name</label>
          <select name="brand" id="brand">
            <% brands.forEach((item) => { %>
            <option value="<%= item.brand %>"><%= item.brand %></option>
            <% }) %>
          </select>
        </div>

        <div>
          <label for="category">Category</label>
          <select name="category" id="category">
            <% categories.forEach((item) => { %>
            <option value="<%= item.category %>"><%= item.category %></option>
            <% }) %>
          </select>
        </div>

        <div>
          <label for="price">Price</label>
          <span>&dollar;<input type="text" name="price" id="price" /></span>
        </div>

        <button type="submit">Add item</button>
      </form>

      <a href="/">Back to main page</a>
    </main>
  </body>
</html>
