<html>
  <head>
    <title>Add new item</title>
    <link rel="stylesheet" href="/styles/form.css" />
  </head>

  <body>
    <section id="root">
      <%- include('./partials/header.ejs') %>

      <main class="item-form">
        <div class="wrapper-form">
          <h1>Add new item</h1>

          <form action="/new" method="post">
            <div class="item-input">
              <label for="item">Item Name</label>
              <input type="text" name="item" id="item" />
            </div>

            <div class="item-input">
              <label for="brand">Brand Name</label>
              <select name="brand" id="brand">
                <% brands.forEach((item) => { %>
                <option value="<%= item.brand %>"><%= item.brand %></option>
                <% }) %>
              </select>
            </div>

            <div class="item-input">
              <label for="category">Category</label>
              <select name="category" id="category">
                <% categories.forEach((item) => { %>
                <option value="<%= item.category %>">
                  <%= item.category %>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="item-input">
              <label for="price">Price</label>
              <p class="price">
                &dollar;<input type="text" name="price" id="price" />
              </p>
            </div>

            <button type="submit" class="item-submit">Add item</button>
          </form>

          <a href="/">Back to main page</a>
        </div>
      </main>
    </section>
  </body>
</html>
